# Discord bot token, obtained from application portal
DISCORD_BOT_TOKEN=

# API key to Gemini models
GOOGLE_API_KEY=

# Viking credentials
VIKING_USERNAME=
VIKING_PASSWORD=

# required to use both uv run adk web and uv run main, without it adk web cannot resolve packages corectly
# because it runs in agents/ dir context
# it must contain absolute ppath to src/ folder
PYTHONPATH=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=